<mat-card>
  <mat-card-title>
    Select
  </mat-card-title>
  <mat-card-content>
    <br>
    Choose a font size:
    <mat-form-field>
      <mat-select placeholder="Enter a font size:" [(ngModel)]="myclass" name="clas-select">
        <mat-option value="myclass1">myclass1 </mat-option>
        <mat-option value="myclass1">myclass1</mat-option>
        <mat-option value="myclass2">myclass2</mat-option>
        <mat-option value="myclass3">myclass3</mat-option>
        <mat-option value="myclass4">myclass4</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
  <p [ngClass]="myclass">TESTE</p>
  </mat-card-footer>
</mat-card>
