<section>
  <mat-card style="margin: 20px">
    <mat-card-content>
      <form>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Enter your name2"
            [(ngModel)]="name1" name="teste1"
          >
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Enter your name2"
            [(ngModel)]="name2" name="teste2"
          >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
<span>{{ name1 }} {{ name2 }} </span>
    </mat-card-actions>
  </mat-card>
</section>

<section>
  <mat-card style="margin: 20px">
    <mat-card-content>
      <form>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="First name"
          [(ngModel)]="client.firstName" name="fname"
          >
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Last Name"
          [(ngModel)]="client.lastName" name="lname"
          >
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Address"
          [(ngModel)]="client.address" name="address"
          >
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Age" type="number"
          [(ngModel)]="client.age" name="age"
          >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <p>First name: {{ client.firstName }}</p>
      <p>Last Name: {{ client.lastName }}</p>
      <p>Address: {{ client.address }}</p>
      <p>Age: {{ client.age }}</p>
 </mat-card-actions>
  </mat-card>
</section>
